<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{appTitle}}</title>

        <script>
            window['sap-ushell-config'] = {
                defaultRenderer: 'fiori2',
                applications: {
                    "fe-lrop-v4": {
                        title: 'Statistic',
                        description: 'This is a my new Fiori elements app',
                        additionalInformation: 'SAPUI5.Component=sap.uxfe.demo.statistic',
                        applicationType: 'URL',
                        url: './',
                        navigationMode: 'embedded'
                    }
                }
            };
        </script>

        <script src="https://sapui5.hana.ondemand.com/1.71.0/test-resources/sap/ushell/bootstrap/sandbox.js"></script>
        <script
            src="https://sapui5.hana.ondemand.com/1.71.0/resources/sap-ui-core.js"
            data-sap-ui-libs="sap.m, sap.ushell, sap.collaboration, sap.ui.layout"
            data-sap-ui-compatVersion="edge"
            data-sap-ui-theme="sap_fiori_3"
            data-sap-ui-frameOptions="allow"
        ></script>
        <script>
            sap.ui.getCore().attachInit(() => sap.ushell.Container.createRenderer().placeAt('content'));
        </script>
    </head>
    <body class="sapUiBody" id="content"></body>
</html>
